body {
    background-color: #1e1f22;
}

button:hover {
    cursor: pointer;
}

.searchDiv {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.searchBar {
    color: white;
    background-color: #313338;
    width: 40%;
    margin:0;
    height: 5vh;
    border: 0;
    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;
    padding-left: 10px;
}

.enter {
    background-color: #313338;
    width: 4%;
    border: 0;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
}

.listContainer {
    height:89vh;
    width: 99vw;
    display: grid;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}

.list {
    margin-left: 29vw;
    margin-right: 30vw;
    background-color: #313338;
    height: 89vh;
    width: 40vw;
}

li {
    color: white;
    font-family:sans-serif;
    font-size: 50px;
    padding-left: 40px;
    padding-top: 40px;
}

li:hover {
    text-decoration: line-through;
    color:grey;
}